.Header {
    width: 100vw;
    background-color: #2E3134;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px 0px;
}

img {
    height: 12vh;
}

.app-header {
    width: 45%;
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
}

nav {
    width: 75%;
    display: flex;
    justify-content: space-around;
    margin-right: 5vw;
}

.logos {
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}